#inicio {
    background-position: center;
}

hr {
    color: #FFFFFF;
    margin-left: 28%;
    margin-right: 28%;
}

body {
    background: #ac9da2;
    background-position-x: center;
    margin: 2%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    line-height : 20px;
}

h1 {
    text-align: center;
    font-family: serif;
    font-style: italic;
    font-size: 238%;
    margin-top: 3%;
    color: #FFFFFF;
}

a {
    outline: 5px;
    color: #FFFFFF;

}

p {
    text-align: justify;
    margin-right: 28%;
    margin-left: 28%;
    margin-top: 2%;
    color: #FFFFFF;
}

input {
    background-position-x: center;
    margin-top: 1%;
}

textarea {
    margin-top: 1%;
}

#descifratucarta {
    background-position-x: center;
    display: none;
    margin: 3%;
    text-align: center;
    font-size: 85%;
}

#instrucciones {
    display: none;
    background-position-x: center;
    text-align: justify;
    line-height : 22px;
    margin: 15%;
    margin-top: 3%;
}

